// $primary:
// $primary-lighter:

$gray-darker: #13100d;
$gray: #444444;
$gray-lighter: #00000029;
$gray-shadow: #00000057;
$gray-border: #707070;

$white-dirty: #fbfbfb;

//breakpoint variables based on material.ui
$bp-sm: 600px;
$bp-md: 960px;
$bp-lg: 1280px;
$bp-xl: 1920px;
