.desktop-hidden {
  @media (min-width: $bp-md) {
    display: none !important;
  }
}

.tablet-hidden {
  @media (min-width: ($bp-sm - 1)) and (max-width: $bp-md - 1) {
    display: none !important;
  }
}

.mobile-hidden {
  @media (max-width: $bp-sm - 1) {
    display: none !important;
  }
}
